$base-font-size: 16px;

html {
  width: 1440px;
  height: 100vh;
  margin: 0;
  font-size: $base-font-size;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#outer-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  position: relative;
  width: 100%;
  height: 57px;
  background-color: #323332;
  margin: 0;
}

h4 {
  position: absolute;
  font-size: $base-font-size - 2.5;
  color: #fdfefd;
  right: 14.9%;
  top: 3px;
}

.container {
  position: relative;
  min-height: 100%;
  width: 1232px;
  padding: 28px;
  margin: 0 auto;
  clear: both;
}

.fa-sort-desc {
  font-size: $base-font-size - 2;
  position: absolute;
  color: #cbcccb;
  top: -1px;
  padding-left: 9px;
}

.fa-search {
  font-size: $base-font-size + 2;
  position: absolute;
  color: #6a6860;
  top: 34.6%;
  left: 37.8%;
  padding-left: 8px;
}

.fa-shopping-cart {
  font-size: $base-font-size - 1.5;
  position: absolute;
  color: #fdfefd;
  top: 39%;
  left: 82.3%;
  padding-left: 8px;
}

.fa-envelope-o {
  font-size: $base-font-size - 2;
  position: absolute;
  color: #cbcccb;
  top: 21px;
  left: 85.9%;
  padding-left: 8px;
}

#logo {
  position: absolute;
  top: 18.6%;
  left: 7.2%;
}

#searchbar {
  position: absolute;
  font-size: $base-font-size - 2;
  background-color: #edeeed;
  border-radius: 2px;
  border: none;
  left: 17.8%;
  top: 25%;
  padding: 6.5px 7px;
  width: 21.4%;
}

#menu {
  font-size: $base-font-size - 0.5;
  position: absolute;
  top: 5.5%;
  left: 38.6%;
  width: 50%;
  list-style: none;
  color: #f1f2f1;
}

#menu > li {
  float: left;
}

#menu-explore {
  width: 9.8%;
}

#menu-marketplace {
  width: 17.3%;
}

#user-img {
  position: absolute;
  top: 13px;
  right: 131px;
}

#sort-user {
  font-size: $base-font-size - 2;
  position: absolute;
  color: #cbcccb;
  top: 18px;
  right: 113px;
  padding-left: 9px;
}

#page-content {
  display: inline-block;
  float: left;
  width: 68%;
  margin-right: 2%;
}

#page-aside {
  display: inline-block;
  float: right;
  width: 30%;
}

#artist-title {
  position: relative;
  margin-bottom: 10px;
}
